
.cl1{
    text-align: left;
    margin-left: 80px;
    margin-top: 40px;
    font-size: 45px;
}
.cl2
{
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
}
.cl3{
    text-align: left;
    margin-left: 80px;
    margin-top: 40px;
    font-size: 45px;
}
.cl4
{
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
}